

#payMap {
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    height: 80vh;
    width: 100%;
    background-color: #eeeeee;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.area {
    stroke: #000;
    stroke-width: .1px;
}



#payMap .active {
opacity: .5;
stroke-width: .5px;
}