/* stripping ul of default properties*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /*Mobile-first approach - CSS code starts here*/
  body {
    background-color: #27ACA2;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, li {
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
    color: #FDF9FB;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.6em;
    color: #00655E;
  }
  
  h3 {
    font-size: 1.5em;
    color: #00655E;
  }
  
  p {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color: #2D2D2D;
    font-size: 1em;
  }
  
  .axis text {
    font-size: 1em;
  }
  

  .visContainer {
    display: block;
    width: 90vw;
  }
  
  .block {
      display: block;
  
  }


  .visContainer img {
    width: inherit;
  }

  
  .startyear,
.endyear {
	float: left;
	width: 10vw;
	color: #333;
	text-align: right;
	font-weight: bold;
}
  
  
  /*Hamburger menu for the mobile version*/
  /*This solution has been adapted from http://www.cutcodedown.com/tutorial/mobileMenu
  I worked on layout to adapt it to my nav and used an icon instead of plain text.
  I decided to use the checkbox solution in alternative to a simple dropdown list
  for it to be more functional in touch devices - with checkbox, the user can close
  the menu either by tapping on the icon or elsewhere on the screen, which is not possible
  with a dropdown menu*/
  nav {
    display: flex;
    background-color: #17212b;
    border-bottom: 5px solid #80264A;
    justify-content: space-between;
  /*   width: 90vw; */
    min-height: 1vh;
    align-items: center;
    margin: 0 auto;
  }
  
  nav li, .menu-left img {
    display: none;
  }
  
  a.logo {
    font-size: 1.5em;
    text-decoration-line: none;
    color: #FDF9FB;
    margin-left: 0.3em;
  }
  
  a.logo:hover {
    text-decoration-line: none;
  }


  header {
    display: block;
  }


  .title-header {
    background-color: black;
  }

  .menu-header {
    background-color: #053961;
    padding-left: 3em;
  }

  .intro-text {
    height: 100%;
    padding: 3em;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  width: 90vw; */
    min-height: 80vw;
    background-color: #E2E2E3;
    margin: 0 auto;
    justify-content: space-around;
  }
  
  /*.title elements to separate sections*/
  h1.title {
    color: #17212b;
    width: 75vw;
    margin: 2em auto 0 auto;
    font-size: 2.2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #c8c8c8;
  }
  
  h3.title {
    text-align: right;
    color: #00655E;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #c8c8c8;
  }
  
  h2.title {
    font-size: 1.7em;
    text-align: right;
    color: #525252;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #c8c8c8;
  }
  
  p.title {
    width: 70vw;
    color: #2D2D2D;
    margin: 1em auto 2em auto;
  }

  footer {
    display: flex;
    justify-content: space-between;
  /*   width: 90vw; */
    margin: 0 auto;
    background-color: #17212b;
    border-top: 5px solid #00655E;
    padding: 1em;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
  }
  
  footer a {
    text-decoration-line: none;
    color: #FDF9FB;
    font-size: 1.2em;
    line-height: 2em;
  }
  
  footer a:hover {
    text-decoration-line: underline;
    color: #A993FF;
    transition: color 0.3s ease;
  }
  
  footer p {
    align-self: flex-end;
    font-size: 0.8em;
    text-align: right;
    width: 60%;
    order: 2;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  
  .social {
    display: inline;
    height: 1.1em;
    align-self: flex-end;
  }
  
  .social img {
    height: inherit;
    padding: 0 0.4em;
  }
  
  .social img:last-child {
    padding-right: 0;
  }

  @media (min-width: 68.75em) {

    header {
        display: flex;

      /*   width: 90vw; */
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        justify-content: space-around;
        align-items: center;
      }
    nav {
      min-height: 1vh;
     /* position: fixed; 
      width: 100%;
       opacity: 0.82;*/
      justify-content: space-between;
      padding: 0 5em;
     
    }
  
    nav li {
      font-size: 1.3em;
    }
  
 
  
    /*text on header, readable thanks to the overlay*/
  
    .intro-text {
      display: flex;
      align-items: center;
    
      text-shadow: -7px 5px 5px #000;
      width: 50%;
    
    }

    

   
    .intro-text li {
      color: #FDF9FB;
      font-size: 1.3em;
      display:block;
      line-height: 3em;
      font-family: 'Montserrat';
    }
  
    .title {
      display: none;
    }

    footer {
        padding: 1em 2em;
      }


      .container {
        padding: 1em 13em;
      }
}